@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
}

.MuiPaper-root {
  box-shadow: none;
  border-radius: 0;
}

#popup {
  // padding: 10px;

  h1 {
    font-size: 25px;
  }

  .heading {
    border: 2px solid transparent;
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 28px;

    &:focus,
    &:active,
    &:hover {
      background-color: unset;
      border: 2px solid red;
    }

    &:nth-child(odd) {
      background-color: #e5e5e5;
    }




    .level {
      // color: green;
    }

    .heading-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .level-1 {
    font-weight: bold;
  }

  .level-2 {
    padding-left: 32px;
  }

  .level-3 {
    padding-left: 48px;
  }

  .level-4 {
    padding-left: 64px;
  }

  .level-5 {
    padding-left: 80px;
  }

  .level-6 {
    padding-left: 96px;
  }

  h2 {
    font-size: 14px;
  }

  #options__button {
    width: 50%;
    background: green;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    padding: 5px 10px;
    justify-content: center;
    margin: 20px auto;
    cursor: pointer;
    opacity: 0.8;
    display: flex;
  }

  .links__holder {
    ul {
      display: flex;
      margin-top: 1em;
      justify-content: space-around;

      li:nth-child(odd) {
        background: lightgray;
      }

      li {
        padding: 5px 15px;
        font-weight: bold;

        button {
          border-radius: 25px;
          font-size: 20px;
          font-weight: 600;
          padding: 10px 17px;
          background-color: rgba(0, 0, 255, 0.7);
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}