@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

$gray: #f2f2f2;
$githubBlue: #0969da;
$githubRed: #cf222e;

body {
  color: $black;
  font-size: 14px;
  padding: 10px;
  padding-bottom: 12px;
  min-width: 200px;
}

.loading-screen {
  font-style: italic;
  color: darkslategray;
}

#popup {
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
  }

  .MuiBox-root {
    padding: 0;
    min-height: unset;
  }

  .MuiTabs-root {
    min-height: unset;
  }

  .MuiButtonBase-root {
    min-height: unset;
  }

  .no-headings {
    font-style: italic;
    color: darkslategray;
  }

  .MuiPaper-root {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid $gray;
    width: auto;
  }

  h1 {
    color: white;
    font-weight: bold;
    background-color: $githubBlue;
    padding-left: 16px;
    line-height: 2.2em;
    margin-bottom: 10px;
  }

  .heading {
    border: 2px solid transparent;
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 28px;

    &:focus,
    &:active,
    &:hover {
      background-color: unset;
      border: 2px solid $githubRed;
    }

    &:nth-child(odd) {
      background-color: $gray;
    }
  }

  .options {
    margin: 4px 18px;
  }

  .level-1 {
    font-weight: bold;
  }

  .level-2 {
    padding-left: 32px;
  }

  .level-3 {
    padding-left: 48px;
  }

  .level-4 {
    padding-left: 64px;
  }

  .level-5 {
    padding-left: 80px;
  }

  .level-6 {
    padding-left: 96px;
  }

  .is-fallback-text {
    color: darkviolet;
    font-style: italic;
  }
}